# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
dist/
coverage/
.vite/
.cache/
*.tsbuildinfo

# Env & Secrets
.env
.env.*
*.maFile
*.mafile
maFiles/
secrets/

# Editors & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
